/* Author: Reginald Cole */

/* Nav Styles */
nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
}

nav a {
    background-color: grey;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-family:'Times New Roman', Times, serif;
    font-weight:bold;
    box-shadow: 5px 5px 5px;
    margin: 10px;
}

nav a:hover{
    color: blue;
}

/* table styles */
table {
    margin: 100px 0px 0px 200px;
    width:90%;
}

table, th, td {
    border: 2px black solid;
    text-align: center;
}

.afcsidebar {
    background-color: red;
    opacity: 80%;
    color: white;
}

.nfcsidebar {
    background-color: blue;
    opacity: 80%;
    color: white;
}








/* Media Queries */
@media(max-width:600px){
nav {
    grid-template-columns: 1fr;
}
}